<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
         
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Author Details</h1>
<img src="{{ asset('images/' ~author.picture) }}">
<p>Name : {{ author.username }}</p>
<p>Email : {{ author.email }}</p>
<p>Number of books : {{ author.nb_books }}</p>
</body>
</html>